body {
    font-family: 'Courier New','Courier New', Courier, monospace
}
img.logo{
    width: 50px;
    margin: 10px;
}

img.martin{
    width: 100%;
}

div.image-block{
    width: 300px;
    margin: 20px; 
}

div.image-block:active{
    width: 800px;
    margin: 20px; 
}